<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ignidata.api.demo">

    <uses-sdk tools:overrideLibrary="com.ignidata.api.plugin"/>
    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Demo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ignidata.api.demo.DemoActivity"
            android:label="IgnidataDemoApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
